
.container1{
    padding-top: 10px;
    border: 1px solid #000000; 
    background-color:rgb(63, 63, 63)
  }
  .name{
    color:aliceblue;
  }

  .btn-lo{
    position:absolute;
    top : 3%;
    right : 3%;
    color:#000000;
    background-color: #c6c6c6;
  }

  .btn-lo:hover {
       background-color:crimson ;
  }

  